[submodule "themes/nofancy"]
	path = themes/nofancy
	url = http://github.com/liaungyip/nofancy
[submodule "themes/plain-docs"]
	path = themes/plain-docs
	url = https://github.com/LiaungYip/plain-docs.git
